PORT=your_portNo_here
MONGO_URL="your_mongoUrl_here"
TOKEN_SECRET_KEY="your_token_secret_key_here"
REFRESH_TOKEN_SECRET_KEY="your_refreshToken_secret_key_here"

// for email verfifcation

BASE_URL="your_frontend_base_url"
HOST= "your_host"
SERVICE="your_service"
EMAIL_PORT=your_email_port_number
SECURE=boolean_value
USER="your_email_for_sending"
PASSWORD="your_password"